<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit <%= player.name %></h1>
    <form action="/players/<%=player._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= player.name %>" />
    
        <label for="isAllStar">NBA AllStar?</label>
        <input type="checkbox" name="isAllStar" <% if (player.isAllStar) { %>checked<% } %> >

    
        <button type="submit">Update Player</button>
    </form>
    <a href="/players/">Go Back To Players</a>
</body>
</html>